certifi==2019.9.11
chardet==4.0.0
click==7.1.2
Cython==0.29.23
Flask==1.1.2
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
pipenv==2018.11.26
Pygments==2.9.0
requests==2.25.1
six==1.15.0
urllib3==1.26.4
virtualenv==16.7.7
virtualenv-clone==0.5.3
Werkzeug==1.0.1
